.number{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 15px;
	height: 30px;
}

.eingabe{
	width: 50px;
}

.column_solution{
	height: 15px;
}

.solution{
	height: 30px;
	margin: 0px;
}

.solution_entry{
	color: white;
	font-size: 10px;
}

.table{
	float: left;
}

.colorsInfo{
	margin-left: 340px;
}


#dialogOverlay{
	display: none;
	opacity: .5;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogBox{
	display: none;
	position: fixed;
	background: #000;
	border-radius: 7px;
	width: 550px;
	z-index: 10;
}

#dialogBox > div{
	background: #FFF;
	margin: 8px;
}

#dialogBox > div > #dialogBoxHead{
	background: #666;
	font-size: 19px;
	padding: 10px;
	color: #CCC;
}

#dialogBox > div > #dialogBoxBody{
	background: #333;
	padding: 20px;
	color: #FFF;
}

#dialogBox > div > #dialogBoxFoot{
	background: #666;
	padding: 10px;
	text-align: right;
}