input{
	font-family: Arial;
}

#window{
	font-family: Arial;
	font-size: 15px;
}

.btnMenu{
	width: 150px;
	height: 30px;
}

.highlightButtons{
	background-color: green;
}

.number{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 15px;
	height: 30px;
}

.eingabe{
	width: 50px;
}

.column_solution{
	height: 15px;
}

.solution{
	height: 30px;
	margin: 0px;
}

.solution_entry{
	color: white;
	font-size: 10px;
}

.table{
	float: left;
}

#gameModeSelect{
	width: 300px;
}

.gameModeRadios{
	float: left;
	width: 150px;
	text-align: center;
}

#gameModeInfo{
	width: 300px;
	margin-left: 10px;
}

#roundsSelect{
	margin-left: 10px;
}

#btnGameStart{
	width: 296px;
}

#manualHighscoreText{
	width: 296px;
}

#gameModeInfoDiv{
	width: 296px;
}

#dialogOverlay{
	display: none;
	opacity: .5;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogBox{
	display: none;
	position: fixed;
	background: gray;
	border-radius: 7px;
	width: 300px;
	z-index: 10;
}

#dialogBox > div{
	margin: 8px;
}

#dialogBox > div > #dialogBoxHead{
	font-size: 19px;
	padding: 10px;
	text-align: center;
}

#dialogBox > div > #dialogBoxBody{
	padding: 20px;
	background: white;
	text-align: center;
}

#dialogBox > div > #dialogBoxFoot{
	padding: 10px;
	text-align: right;
	background: white;
}